RewriteEngine On

# Allow direct access to files and folders within 'public'
RewriteCond %{REQUEST_URI} ^/public/.*$ [OR]
RewriteCond %{REQUEST_URI} ^/public$
RewriteRule ^ - [L]

# Redirect all other requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]