@import "default.css";

.col-sm-2, .col-sm-10 {
    border: 1px solid red;
}

.bg-lightgreen {
    background-color: rgba(var(--bs-primary-rgb), 0.5) !important;
}


@media (max-width: 575.98px) {
    .col-sm-10 {
        height: 75%;
    }
    .col-sm-2 {
        height: 25%;
    }
}