@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #262626;
}

nav {
    background: #FFFFFF;
    height: 70px;
    border: 1px solid rgba(105, 105, 105, 0.32);
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
    height: 100%;
}
nav ul li#title {
    flex-grow: 1;
}

nav ul li {
    display: flex;
    align-items: center;
}
nav ul li a {
    padding: 20px;
    text-decoration: none;
}

.container {
    width: calc(100% - 600px);
    min-width: 800px;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    position: relative;
    background-image: url("../images/header.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    filter: light(100%);
}

header .bg_filter {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
}

.header_text {
    padding: 200px 20px 20px 0;
}
.header_text h1 {
    color: white;
    font-size: 40px;
}
.header_text p {
    color: white;
    font-size: 25px;
    margin-top: 10px;
}